h2 {
    display: none;
}

.bg-y-texto-corto {
    display: flex;
    align-items: center;
}

.bg-y-texto-corto--albarn {
    background: url("../img/albarn.jpg") no-repeat -120px top;
    height: 505px;
}

.bg-y-texto-corto--hip-hop {
    background: url("../img/que_es_el_hip_hop.jpg") no-repeat -320px top;
    height: 455px;
}

.bg-y-texto-largo {
    padding: 0px 20px;
    display: flex;
}

.bg-y-texto-largo--historia {
    background: url("../img/historia.jpg") no-repeat center top;
    height: 800px;
}

.bg-y-texto-largo--te-gusta-gorillaz {
    background: url("../img/te_gusta_gorillaz.jpg") no-repeat center top;
    height: 600px;
}

.personajes, .personaje__detalles {
    padding-left: 0px;
}

.personaje {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* &:hover {
        outline: 5px solid black;
        outline-offset: -4px;
        cursor: pointer;
    } */
}

.personaje__img {
    margin-top: 100px;
    line-height: 0px;
}

.personajes > li:nth-child(even){
    color: black;
}

#personaje2-D { background-color: #00aed3; }

#personajeMurdoc { background-color: #65fada; }

#personajeNoodle { background-color: #ff598d; }

#personajeRussel { background-color: #fff46d; }

figure {
    line-height: 0px;
}

.personajes {
    margin: 0px;
}

.fondo-azul {
    background-color: #00C6EC;
}

.fondo-negro {
    background-color: #242424;
}

h3 {
    text-align: center;
    font-size: 2em;
    line-height: 1.6em;
    margin: 20px 0px;
}

@media screen and (min-width:800px) {
    .personajes {
        display: flex;
        flex-wrap: wrap;
        border: none;
    }

    .bg-y-texto-corto--albarn {
        background-position-x: 0px;
    }

    .bg-y-texto-corto--hip-hop {
        background-position-x: -450px;
    }

    .texto-en-dos-columnas {
        display: flex;
    }

    .texto-en-dos-columnas > :nth-child(1n) {
        width: 50%;
        justify-content: flex-start;
    }
}
@media screen and (min-width:1280px) {
    .contenido-y-foto {
        display: flex;
    }

    .contenido-y-foto--invertido {
        flex-direction: row-reverse;
    }

    .bg-y-texto-corto--albarn {
        background-position-x: 0px;
        justify-content: flex-end;
    }

    .bg-y-texto-corto--hip-hop {
        background-position-x: 0px;
    }

    .bg-y-texto-largo {
        padding: 0px 20%;
    }

    .width-50-porciento{
        width: 50%;
    }
}